run = [
  "sh",
  "-c",
  "mongod --dbpath db & redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PWD} & yarn prod",
]
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3100
externalPort = 3100

[[ports]]
localPort = 6379
externalPort = 3000

[deployment]
deploymentTarget = "cloudrun"
run = [
  "sh",
  "-c",
  "mongod --dbpath db & redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PWD} & yarn prod",
]